
# Folders
.vscode/
obj/

# Files
*.wal
*.o
*.exe
*.out
*.a
*.lib
*.dll
*.stackdump

# Binaries
walrus-shell
walrus-shell.*
libwalrus
walrus.*

#cmake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CL
ALL_BUILD.*
ZERO_CHECK.*

# Ninja
lib/
bin/
*.ninja
*.ninja_log
*.ninja_deps

# vim
*.swp
